section h1, section h3 {
  color: hsl(180, 20%, 50%);
  text-shadow: #FC0 1px 0 10px;
}

section {
  color: #313131;
  font-weight: normal;
  text-shadow: 0.1px 0 #121212;

}

section h3 small{
  color: gray;
  font-weight: normal;
}
