  <div class="mat-elevation-z8" id="content">
    <h3>Kinomap</h3>
    <p>
    est une start up dans le domaine du sport Indoor et est également un
    prestataire de service en développement informatique.
    J’y avais la gestion technique de deux clients :
    Cooper  & Co et DomusVi Domicile.
    </p>

    <h5>Cooper & Co</h5>
    <p>
    Cette société gère des fonds dans le cadre d’investissements immobiliers
    groupés. Leur SI et leur site Internet sont développés en PHP Orienté Objet.
    J’ai assuré la maintenance de l’existant au niveau correctif et évolutif.
    J’ai également développé de nouvelles fonctionalités sur ce framework
    « maison » tel qu’un “carnet d’adresse” géolocalisé pour les commerciaux.
    J’ai aussi réalisé les montés de version de PHP, MySQL et fait
    des ajustements de paramètres serveur pour corriger certains
    dysfonctionnements. Cette application m’a permis de monter ma compétence
    de programmation en Javascript et en PHP Orienté Objet.

      J’ai également utilisé une API Google pour un formulaire de saisie
      d’adresse avec la saisie semi-automatique,
    </p>
    <h5>DomusVi Domicile</h5>
    <p>
    Spécialisé dans l’aide à la personne, le maintien à domicile, les soins
    à domicile et les EPHAD, le groupe DomusVI réalise plus de 500.000.000€
    de chiffres d’affaire. Au cour de ma mission le groupe DomusVi a acquis
    la société Assisteo cliente de Kinomap.
    <br>
    Le SI était entièrement en PHP procédural du côté d’Assistéo et en WinDev
    du Côté DomusVi.Les principales technologies utilisées sont Symfony 3,
    PHP7, framework CSS et Jquery, Gitlab, Capistrano, Mysql, lynux et Apache.
    <br>
    J’ai développé de nombreuses fonctionnalités ou évolutions portant sur
    le planning, la facturation les ressources humaines, le télépointage,
    la gestion documentaire, le suivi des réclamations clients, un annuaire,
    un site internet destiné aux clients et salariés terrain
    (+ de 10 000 personnes), un intranet a destination du siège,
    des outils de contrôle de gestion, un serveur NodeJS assortit
    d’un module de gestion de demande de rappel VOIP automatique sur
    la page du site web institutionnel...
</p>

  </div>
