<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->


    <!-- Name Column -->

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Début</th>
      <td mat-cell *matCellDef="let row" innerHTML="{{row.date}}"></td>
    </ng-container>

    <ng-container matColumnDef="duree">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Durée (mois)</th>
      <td mat-cell *matCellDef="let row" innerHTML="{{row.duree}}"></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employeur</th>
      <td mat-cell *matCellDef="let row"><a routerLink="{{row.route}}">{{row.name}}</a></td>
    </ng-container>

    <ng-container matColumnDef="context" id="contextTd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contexte</th>
      <td mat-cell *matCellDef="let row" innerHTML="{{row.context}}"></td>
    </ng-container>

    <ng-container matColumnDef="methodologie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Méthodologie</th>
      <td mat-cell *matCellDef="let row" innerHTML="{{row.methodologie}}"></td>
    </ng-container>

    <ng-container matColumnDef="environement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Environement</th>
      <td mat-cell *matCellDef="let row" innerHTML="{{row.environement}}"></td>
    </ng-container>

    <ng-container matColumnDef="equipe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de dev.</th>
      <td mat-cell *matCellDef="let row" innerHTML="{{row.equipe}}"></td>
    </ng-container>

    <ng-container matColumnDef="langage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Langages de programmation</th>
      <td mat-cell *matCellDef="let row" innerHTML="{{row.langage}}"></td>
    </ng-container>

    <ng-container matColumnDef="realisation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Exemples de fonctionnalités</th>
      <td mat-cell *matCellDef="let row" innerHTML="{{row.realisation}}"></td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
