  <div class="mat-elevation-z8" id="content">
    <h3>Esocle</h3>
    <p>
      est une plateforme Web permettant le suivi de la qualité en entreprise
      selon les principes de la méthode Socle d'Olec Kovalevsky.
    </p>
    <p>
      Cette plateforme a nécessitée 6 mois de développement. Il s'agit de
      programmation orientée object en PHP ainsi que d'Ajax, Mysql.
      Je l'ai développé seul sur les base d'un cahier des charges rédigé par la MOA.
    </p>
    <p>
      Ce projet m'a permis de me perfectionner dans ces différents Langages
      mais également de mieux appréhender les aspects non techniques du développement.
      Par exemple l'estimation de la charge de travail et la gestion de projet.
    </p>
  </div>
