.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #313131;
  color: #fff;
}

.mat-drawer {
  background-color: #313131;
}
.mat-drawer-container {
  background-color: rgb(217, 217, 217);
  color: rgba(0,0,0,.87);
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
    color: #ffffff;
}

#content{
  padding: 20px;
  color: black;
  text-align: justify;
}

#logo{
  width:150px;
  margin:25px;
  margin-top: 0px;
  border-radius: 15px;
}

#titre{
  color: White;
  text-decoration: none;
}
