<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>

    </mat-toolbar>
    <mat-nav-list>
      <img src="../../assets/images/id.PNG" alt="" id="logo">
      <a mat-list-item routerLink="/experiences">Expériences</a>
      <a mat-list-item routerLink="/formations">Formation</a>
      <a mat-list-item href="../../assets/Westeel Pierre-Marie CV.pdf">Télécharger mon CV</a>
      <a mat-list-item routerLink="/sources">Code source</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span >
        <a id="titre" href="mailto:pmw8@outlook.com">
          <i class="material-icons">mail_outline</i> {{title}}
        </a>
      </span>
    </mat-toolbar>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
